
@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-base-200: #FFFFFF;
  --color-base-300: #F3F3F3;
  --color-accent: #706F6F;
}

a.active {
  @apply bg-base-300;
}